.contenedorCuerpo{
    width: 100%;
    height: 945px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    margin: 0;
}
.contenedorPedido{
    width: 45%;
    height: 100%;
    background-image: url('../images/fondoladrillo.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productos{
    width: 55%;
    height: 100%;
}
.descripcionPedido{
    width: 85%;
    height: 70%;
    background: #FFFFFF;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.titulo{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    background: #EDBA6B;
    color: #1C1712;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.formulario{
    font-size: 28px;
    padding-left: 10px;
}
.ingresoDatos{
    border: 1px solid #ffffff;
}
input:focus, input[type]:focus {
    outline: 0 none;
}
.btnEnviar{
    width: 85%;
    background: #2EA44F;
    color: #FAFBFC;
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.btnCancelar{
    width: 85%;
    background: #FAFBFC;
    color: #CB3544;
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.selectorMenu{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.btnMenu{
    background: #B65D28;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 450px;
    border: 0px solid #FFFFFF;
    padding: 20px;
    margin-right: 15px;
}
.btnMenu:hover{
    background: #80643A;
}
.btnMenu:focus {
    outline: none;
}
.contenedorTabla{
    width: 90%;
    height: 482px;
    overflow: scroll;
}
.tabla{
    width: 100%;
    padding-left: 10px;
}
.mostradorPedidos{
    height: 80%;
    overflow: scroll;
}
.total{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    background: #EDBA6B;
    color: #1C1712;
    padding: 10px 0 10px 0;
}